name: Docker build

on: [pull_request, push]

jobs:
  docker:
    runs-on: ubuntu-latest

    env:
      release: "2021.3.0"
      defaultpython: "3.8"

    strategy:
      matrix:
        python: ["3.7", "3.8", "3.9"]
        image:
          - tag: "daskdev/dask"
            context: "./base"
          - tag: "daskdev/notebook"
            context: "./notebook"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        if: github.repository == 'dask/dask-docker' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate tags
        id: tags
        env:
          image: ${{ matrix.image.tag }}
          python: ${{ matrix.python }}
        run: |
          tags="${image}:${release}-py${python}"
          if [ "$python" == "$defaultpython" ]; then
            tags=${image}:latest,${image}:${release},$tags
          fi
          echo "::set-output name=tags::${tags}"

      - name: Checkout upstream
        uses: actions/checkout@v2
        if: matrix.image.tag == 'daskdev/notebook'
        with:
          repository: jupyter/docker-stacks
          ref: master
          path: docker-stacks

      - name: Build upstream Jupyter Lab image
        uses: docker/build-push-action@v2
        if: matrix.image.tag == 'daskdev/notebook'
        with:
          context: ./docker-stacks/base-notebook
          push: false
          load: true
          platforms: linux/amd64
          tags: docker.io/jupyter/base-notebook:lab
          build-args: |
            python_version=${{ matrix.python }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.image.context }}
          push: ${{ github.repository == 'dask/dask-docker' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}
          platforms: linux/amd64
          tags: ${{ steps.tags.outputs.tags }}
          build-args: |
            python=${{ matrix.python }}
            release=${{ env.release }}

      - name: Report
        run: echo Built ${{ steps.tags.outputs.tags }}
